ErrorDocument 404 /error404.html

RewriteEngine on
RewriteCond %{HTTP:Accept-Language} (de) [NC]
RewriteRule (^index.html$)|^$  /de/index.html [L,R]

RewriteCond %{HTTP:Accept-Language} (en) [NC]
RewriteRule (^index.html$)|^$  /en/index.html [L,R]

RewriteCond %{HTTP:Accept-Language} (de) [NC]
RewriteRule ^error404.html$  /de/error404.html [L]

RewriteRule ^error404.html /en/error404.html [L]

